.root {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1rem;

   p {
      font-size: 1.3rem;
   }

   span {
      text-decoration: line-through;
      color: red;
   }

   button {
      border-radius: 0.5rem;
      background-color: var(--lightTextColor);
      color: var(--darkTextColor);
      font-size: 1.2rem;
      padding: 0.6rem;
      transition: all 0.3s ease;

      &:hover {
         background-color: var(--darkTextColor);
         color: var(--lightTextColor);
      }
   }
}