* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}

:root {
  --darkTextColor: #000000;
  --lightTextColor: #ffffff;
}   

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
  background-image: linear-gradient(120deg, #001e2a, #231846);
  color: var(--lightTextColor);
}

.wrapper{
  width: 900px;
  box-sizing: content-box;
  margin: 0 auto;
  flex: 1 1 auto;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.control-panel p {
  font-size: 2rem;
}
